@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap')

html {
    font-family: 'Barlow Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    background-color: #05A63D;
    color: whitesmoke;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black; padding: 16px;
    background-color: #F2D5BB;
}

a {
    color: black
}

h1 {
    background-color: #b0d9f2;
    color: rgb(69, 102, 247);
    text-shadow: 2px 2px 4px pink;
}

h2 {
    background-color: #ebe595;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    box-shadow: 60px -16px teal;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: 100%;
}


a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: aquamarine;
}

.gray-lines tr:nth-child(even) {
    background-color: lightgrey
}

a:hover {
    color: purple
}

.perspective {
    perspective: 200px;}

.card {
    transition: transform 1s ease;
    &:hover {transform: rotateY(-60deg);
    }
}
